@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");



body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #0f141e;
  background: #f1f1f1; 
}

a {
    text-decoration: none;
    color: rgb(50, 50, 169);
}


a:hover {
    color: orange;
}

a:active {
    color: red;
}

.container {
    margin: auto;
    max-width: 750px;
    padding-top: 30px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    margin-bottom: 15px;
}

.info-text h4 {
    margin-bottom: 7px;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 10px 0;
}

.sections {
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 10px;
    max-width: 700;
}

.sections h2 {
    margin-bottom: 10px;
}

.work {
    background-color: rgb(199, 252, 235);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.hobbies {
    background-color: rgb(255, 217, 217);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.hobbies ol {
    padding-left: 20px;
}

.contacts {
    background-color: rgb(210, 229, 249);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

#message {
    border: none;
    padding: 0.5rem;
    border-radius: 6px;
    background: rgb(60, 60, 233);
    color: white;
}

#message:hover {
    opacity: 0.5;
    cursor: pointer;
}